<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ESSE3WSSoapBinding" maxReceivedMessageSize="1000000">
                    <security mode="Transport" />
                </binding>
                <binding name="ESSE3WSSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://didattica.unicam.it/services/ESSE3WS"
                binding="basicHttpBinding" bindingConfiguration="ESSE3WSSoapBinding"
                contract="ESSE3.Esse3Ws" name="ESSE3WS" />
        </client>
    </system.serviceModel>
</configuration>